@model IEnumerable<Campus_Activity_Hub_PRO.Models.Event>
@{
    ViewData["Title"] = "Events";
}

<h2>Events</h2>

@if (User.IsInRole("Organizer"))
{
    <a class="btn btn-success mb-3" asp-action="Create">Create New Event</a>
}
<input type="text"
       id="searchInput"
       class="form-control mb-3"
       placeholder="Search events..." />

<div id="eventsContainer">
    @await Html.PartialAsync("_EventsTable", Model)
</div>

@section Scripts {
    <script>
        const input = document.getElementById("searchInput");
        let timeout = null;

        input.addEventListener("keyup", function () {
            clearTimeout(timeout);

            timeout = setTimeout(() => {
                fetch(`/Events/Search?search=${encodeURIComponent(input.value)}`)
                    .then(res => res.text())
                    .then(html => {
                        document.getElementById("eventsContainer").innerHTML = html;
                    });
            }, 300); 
        });
    </script>
}
